@import 'mixins';

/* Completely remove from the flow and screen readers. */
.plph-h-is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Floats */
.plph-h-right { float: right !important; }
.plph-h-left { float: left !important; }
.plph-h-clear { @include clearfix(); }

/* Text-Align */
.plph-h-align-right { text-align: right !important; }
.plph-h-align-center { text-align: center !important; }
.plph-h-align-left { text-align: left !important; }

.plph-h-is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.plph-h-error { color: red; }
.plph-h-border-error { border-color: red; }

.plph-h-valid { color: green; }
.plph-h-border-valid { border-color: green; }
