<!-- Begin .header -->
<header class="plph-p-header" role="banner">
	<div class="plph-p-header__container">
    <div class="plph-p-header__logo">
      {{> base-logo }}
    </div>
    
    <div class="plph-p-header__nav">
      {{> components-primary-nav }}
    </div>
  </div>
</header>
<!-- End .header -->
