<!-- Begin Footer -->
<footer class="plph-p-footer" role="contentinfo">
	<div class="plph-p-footer__container">
    <div class="plph-p-footer__links">
      {{> components-footer-nav }}
    </div>

      <div class="plph-p-footer__copyright">
        <p>
          &copy; 2015 Company Name. All rights reserved.
        </p>
      </div>
    </div>
  </div>
  
</footer>
<!-- End Footer -->
