/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.plph-p-footer {
  padding-top: plph-spacing();
  
  color: plph-color(mono, light);

  background: plph-color(primary, dark);

  a { color: plph-color(mono, light); }
}

.plph-p-footer__container,
.plph-p-footer__links,
.plph-p-footer__copyright {
  @include row-plph-container();
}

.plph-p-footer__links {
  @include syn(base, 12, 0, (marg-b-2));
  @include syn(small, 7, 0, (inline-b marg-b-0));
}

.plph-p-footer__copyright {
  @include syn(base, 12, 0, (''));
  @include syn(small, 5, 0, (inline-b float-r align-r));
}
