<div class="l-three-col h__row-example">
	<div class="l-three-col__item h__col-example">
    <div class="h__col-example--box">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum error qui sint, quia quibusdam cum culpa unde sunt voluptates commodi, ipsa praesentium nesciunt molestias et cumque! Iure cupiditate, consectetur illo!</p>
      
      <p>Rerum nemo sint porro perspiciatis doloremque veritatis, ab delectus nam eius asperiores officia aliquid perferendis voluptate quod nulla quaerat magni veniam ratione accusantium tempora ipsam officiis, aut unde voluptates maxime.</p>
    </div>
  </div>
	
  <div class="l-three-col__item h__col-example">
    <div class="h__col-example--box">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum error qui sint, quia quibusdam cum culpa unde sunt voluptates commodi, ipsa praesentium nesciunt molestias et cumque! Iure cupiditate, consectetur illo!</p>
      
      <p>Rerum nemo sint porro perspiciatis doloremque veritatis, ab delectus nam eius asperiores officia aliquid perferendis voluptate quod nulla quaerat magni veniam ratione accusantium tempora ipsam officiis, aut unde voluptates maxime.</p>
    </div>
  </div>
	
  <div class="l-three-col__item h__col-example">
    <div class="h__col-example--box">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum error qui sint, quia quibusdam cum culpa unde sunt voluptates commodi, ipsa praesentium nesciunt molestias et cumque! Iure cupiditate, consectetur illo!</p>
      
      <p>Rerum nemo sint porro perspiciatis doloremque veritatis, ab delectus nam eius asperiores officia aliquid perferendis voluptate quod nulla quaerat magni veniam ratione accusantium tempora ipsam officiis, aut unde voluptates maxime.</p>
    </div>
  </div>
</div>