<div class="l-three-col">
	
	<div class="l-three-col__item l__col-example">
    <div class="l__col-example--box">
 
    </div>
  </div>
	
  <div class="l-three-col__item l__col-example">
    <div class="l__col-example--box">
 
    </div>
  </div>
	
  <div class="l-three-col__item l__col-example">
    <div class="l__col-example--box">
 
    </div>
  </div>
</div>