<div class="l-sidebar h__row-example">
	<div class="l-sidebar__main h__col-example">
    <div class="h__col-example--box">
      <h4>
        Full width on small<br>
        2/3 width on medium<br>
        3/4 width on large
      </h4>
      <br>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, deleniti fuga. Saepe rem deserunt doloremque autem ea delectus neque voluptates quae natus, iste, consectetur quasi ut quaerat cumque, nam eius!</p>

      <p>Dicta ducimus dolor nisi reiciendis laudantium quae veniam nemo veritatis quaerat maiores ex quia dolorum voluptatibus iusto ipsum minus, eveniet facilis error ipsa esse ullam molestias, distinctio rerum maxime. Aperiam.</p>

      <p>Veniam similique dignissimos molestias assumenda aut repudiandae amet voluptas, accusantium! Porro explicabo error labore, aspernatur assumenda laudantium, autem necessitatibus, hic nobis libero, voluptates ullam repellendus. Quisquam officia optio deserunt vel.</p>
    </div>
  </div>

	<div class="l-sidebar__sidebar h__col-example">
    <div class="h__col-example--box">
      <h4>
        Full width on small<br>
        1/3 width on medium<br>
        1/4 width on large
      </h4>
      <br>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, deleniti fuga. Saepe rem deserunt doloremque autem ea delectus neque voluptates quae natus, iste, consectetur quasi ut quaerat cumque, nam eius!</p>

      <p>Dicta ducimus dolor nisi reiciendis laudantium quae veniam nemo veritatis quaerat maiores ex quia dolorum voluptatibus iusto ipsum minus, eveniet facilis error ipsa esse ullam molestias, distinctio rerum maxime. Aperiam.</p>
    </div>
  </div>
</div>