// Blockquote
blockquote {
  @include syn(base, 12, 0, (marg-b-2 pad-2 pad-l-3));

  color: plph-color(primary, dark);
  font-style: italic;
  font-size: plph-type(font-size, h6);
  line-height: plph-type(line-height, h4);

  border-left: plph-container(border);
}
