$btn-bg: plph-color(action);
$btn-text: plph-color(mono, light);
$btn-pad: plph-spacing();
$btn-radius: plph-container(border-radius, large);
$btn-hover-bg: plph-color(action, dark);
$btn-hover-text: $btn-text;
$btn-trans: plph-anim(time);

$btn-alt-bg: plph-color(mono, light);
$btn-alt-border: 2px solid plph-color(action);
$btn-alt-text: plph-color(action);
$btn-alt-hover-bg: plph-color(action);
$btn-alt-hover-border: $btn-alt-border;
$btn-alt-hover-text: plph-color(mono, light);

$btn-small-pad: plph-spacing();
$btn-small-font: plph-type(font-size, tiny);
$btn-large-pad: plph-spacing();
$btn-large-font: plph-type(font-size, h5);

$btn-disabled-bg: plph-color(mono);
$btn-disabled-text: plph-color(mono, light);
$btn-disabled-opacity: .35;

.btn {
  transition: plph-anim(time);
  display: inline-block;
  padding: $btn-pad;

  line-height: 1;
  color: $btn-text;
  text-align: center;

  border: 0;
  background: $btn-bg;
  border-radius: $btn-radius;

  @include hovers() {
    transition: $btn-trans;

    color: $btn-hover-text;
    text-decoration: none;

    background-color: $btn-hover-bg;
  }
}

.btn__alt {
  color: $btn-alt-text;

  background-color: $btn-alt-bg;
  border: $btn-alt-border;


  @include hovers {
    color: $btn-alt-hover-text;

    background-color: $btn-alt-hover-bg;
    border: $btn-alt-hover-border;
  }
}

.btn__small {
  padding: $btn-small-pad;

  font-size: $btn-small-font;
}

.btn__large {
  padding: $btn-large-pad;

  font-size: $btn-large-font;
}

.btn__disabled {
  cursor: default;
  color: $btn-disabled-text;

  background: $btn-disabled-bg;
  opacity: $btn-disabled-opacity;

  @include hovers {
    color: $btn-disabled-text;

    background: $btn-disabled-bg;
  }
}
