figure {
  margin: 0 0 plph-spacing() 0;

  img {
    display: block;
    margin: 0 auto plph-spacing(half);
    max-width: none;
    width: 100%;
  }
}

figcaption {
  font-size: plph-type(font-size, small);
  font-style: italic;
}
