ol,
ul {
  padding: 0;
  margin-bottom: plph-spacing();
  margin-left: plph-spacing(double);

  line-height: plph-type(line-height, h6);
  font-size: plph-type(font-size, p);

  ol,
  ul {
    margin-top: plph-spacing(half);
    margin-bottom: 0;
  }

  li { margin-bottom: plph-spacing(half); }
}

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1rem;
}

dt,
dd {
  margin-bottom: plph-spacing(half);
}

dt {
  font-weight: bold;
}

dd {
  margin-left: plph-spacing();
}
