/*------------------------------------*\
    $Table
\*------------------------------------*/

$table-margin: plph-spacing(half);
$table-cell-spacing: plph-spacing() 0;
$table-border-bottom: plph-container(border);

$table-header-font-weight: plph-type(font-weight, bold);

table {
  border-collapse: collapse;
  font-feature-settings: 'kern', 'liga', 'tnum';
  margin: $table-margin;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: $table-border-bottom;
  font-weight: $table-header-font-weight;
  padding: $table-cell-spacing;
  text-align: left;
}

td {
  border-bottom: $table-border-bottom;
  padding: $table-cell-spacing;
}

tr,
td,
th { vertical-align: middle; }

