<nav class="plph-c-nav">
	<ul class="plph-c-nav__menu">
		<li class="plph-c-nav__menu-item">
      <a href="{{ link.pages-homepage }}">Home</a>
    </li>
		
    <li class="plph-c-nav__menu-item">
      <a href="javascript:void(0)">About</a>
    </li>
		
    <li class="plph-c-nav__menu-item">
      <a href="{{ link.pages-blog }}">Blog</a>
    </li>
		
    <li class="plph-c-nav__menu-item">
      <a href="javascript:void(0)">Contact</a>
    </li>
	</ul>
</nav><!--end .nav-->
