/* 

1) Thumbnail Block - Small image, headline, paragraph
3) Inset block - Smaller image, text always overlayed on bottom

 */

// Any universal block styles for all variations
@include bem-mods(c-block) {
  overflow: hidden;
  margin-bottom: plph-spacing(double);
}

.plph-c-block__text {
  @include syn(base, 0, 0, (align-c));
  @include syn(small, 0, 0, (align-l));
}

.plph-c-block__headline {

  @include larger-than(small) { margin-top: 0; }
}

/*

@element '.plph-c-block__headline' and (min-lines: 2) {
  eq_this {
    text-align: center;
  }

  eq_parent.plph-c-block__text {
    padding: plph-spacing(double) plph-spacing(half);
    top: 0;
  }
}

*/




.plph-c-block__excerpt {
  margin-bottom: 0;

  color: plph-color(mono, dark);
}





// Block Thumbnail with Headline
.plph-c-block--thumb {

  .plph-c-block__thumb {
    @include syn(small, 5, 0, (float-l));
    @include syn(medium, 4, 0, (''));
    @include syn(medium, 3, 0, (''));
  }

  .plph-c-block__text {
    @include syn(small, 7, 0, (border-b pad-sides-2 float-r));
    @include syn(medium, 8, 0, (''));
    @include syn(medium, 9, 0, (''));
  }
}


// Inset and Hero Block
.plph-c-block--hero,
.plph-c-block--inset {
  position: relative;

  .plph-c-block__thumb {

    img {
      width: 100%;
      max-width: none;
    }
  }

  .plph-c-block__headline { margin: 0; }

  .plph-c-block__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: plph-spacing(double) plph-spacing();

    color: plph-color(mono, light);

    background: rgba(0, 0, 0, 0.5);
  }
}

// Hero Block specific styles
.plph-c-block--hero {

  .plph-c-block__text { padding: plph-spacing(double) plph-spacing(); }
}
