.plph-c-pagination {
  overflow: hidden;
  margin: 0;

  list-style-type: none;

  li {
    display: inline-block;

    border-right: plph-container(border);

    &:last-child { border: 0; }
  }

  a { padding: plph-spacing(half) plph-spacing(); }
}

.plph-c-pagination__current {
  font-weight: plph-type(font-weight, bold);
}
