/* Search Form */
.search-field { padding-right: plph-spacing(double); }

.inline-form .search-submit {
  background: none;
  padding: plph-spacing();

  color: plph-color(mono);

  border: 0;
  border-left: plph-container(border);
}
