$social-share-bg: plph-color(secondary, dark);
$social-share-bg-hover: plph-color(secondary, dark);

.plph-c-social-share {
  overflow: hidden;
  margin: 0 0 plph-spacing() 0;

  list-style-type: none;
}

.plph-c-social-share__item {
  display: inline-block;
  margin-right: plph-spacing(half);

  a {
    transition: plph-anim(time);
    display: block;
    padding: plph-spacing(half) plph-spacing();

    color: plph-color(mono, light);

    border-radius: plph-container(border-radius);
    background: $social-share-bg;

    @include hovers() {
      transition: plph-anim(time);
      text-decoration: none;

      background: $social-share-bg-hover;
    }
  }
}

