$swatches-per-row: 2;
$swatches-tones-per-row: 2;

$swatch-base-height: 120px;
$swatch-tone-height: 80px;

// Mixin for generating the common swatch colors
@mixin swatch__color-scheme-generator($u-color, $shade, $base: false) {
  @include contra-color($u-color, color(mono, light), color(mono, dark));
  position: relative;

  text-transform: capitalize;

  @if ($base == true) {
    font-size: type(font-size, h4);
  } @else {
    font-size: type(font-size, small);
  }

  &::before,
  &::after {
    position: absolute;
    left: spacing(half);
  }

  &::before {
    top: spacing(half);
    content: quote(inspect($shade));
  }

  &::after {
    bottom: spacing(half);
    content: quote(inspect($u-color));

    text-transform: uppercase;
  }
}

.plph-b-swatches {
  @include clearfix();
}

// Base styles for all palettes
// Mainly the palettes and their layout
// The BEM mod makes it apply to each modified version
@include bem-mods(b-swatch) {
  @include syn(base, 12, 0, (block marg-b-1));
  @include syn(small, 6, 0, (float-l inline-b border-b pad-sides-1));
  @include syn(medium, (12 / $swatches-per-row), 0, (''));

  @include clearfix();
}


// The base color for every scheme
.plph-b-swatch__base {
  width: 100%;
  height: $swatch-base-height;
}

// Container for both light and dark tones
.plph-b-swatch__all-tones {
  @include clearfix();
  width: 100%;
  height: $swatch-tone-height;
}

// Every light and dark tone of the base color
.plph-b-swatch__tone {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  float: left;

  @include larger-than(small) { width: percentage(1/$swatches-tones-per-row); }
}


@each $palette, $tones in $color-map {
  $base-color: map-get($tones, base);
  
  .plph-b-swatch--#{$palette} {
    .plph-b-swatch__base { @include swatch__color-scheme-generator($base-color, $palette, $base: true); }
    
    @each $tone-name, $tone-value in $tones {
      .plph-b-swatch__tone--#{$tone-name} {
        @include swatch__color-scheme-generator($tone-value, $tone-name);
      }
    }
  }
}
