.sg-header { display: none; }

@include bem-mods-id('viewall-viewall-') {
  .sg-pattern-category-title {
    display: none;
  }
}

.viewall-viewall-base {

}

.sg-pattern,
.sg-pattern-category-title,
.sg-pattern-category-body {
  @include clearfix();
  padding: plph-spacing(half);
}

.sg-pattern-category-body { padding: 0 plph-spacing() plph-spacing() plph-spacing(); }

.sg-pattern-head {
  padding: plph-spacing() 0;
  margin: 0 0 plph-spacing(double) 0;

  font-family: plph-type(font-family, header);

  border-bottom: plph-container(border);

  .sg-pattern-title { font-size: plph-type(font-size, h3) !important; }

  a {
    display: block;

    cursor: pointer;
    text-decoration: none;
    color: plph-color(mono, dark);

    @include hovers() {
      color: plph-color(mono, dark);
    }
  }
}

