// Config for Synapse using global variables
$synapse: (
  columns: 12,
  layouts: (
        base:  0,
        small:  plph-breakpoint('small'),
        medium:  plph-breakpoint('medium'),
        large: plph-breakpoint('large')
    ),
  spaceUnits: (
    plph-spacing(half),
    plph-spacing(),
    plph-spacing(double),
    plph-spacing(double) * 2
  )
);

/*
// If custom Synapse utilities are needed, use this mixin

@mixin synapse-custom($var) {
  @if ($var == 'margin-auto') {
    margin: 0 auto;
  }
}

*/

// For custom layouts, apply this to the row holding all the columns
// And to the columns within the row
@mixin row-plph-container($padding: plph-spacing(half)) {
  @include clearfix();
  max-width: size(max-width);
  margin: 0 auto;
  box-sizing: border-box;
  padding: $padding;
}

@mixin col-plph-container() {
  @include row-plph-container(0 plph-spacing(half));
}
