// Config for Synapse using global variables
$synapse: (
  columns: 12,
  layouts: (
        base:  0,
        small:  breakpoint('small'),
        medium:  breakpoint('medium'),
        large: breakpoint('large')
    ),
  spaceUnits: (
    spacing(half),
    spacing(),
    spacing(double),
    spacing(double) * 2
  )
);

/*
// If custom Synapse utilities are needed, use this mixin

@mixin synapse-custom($var) {
  @if ($var == 'margin-auto') {
    margin: 0 auto;
  }
}

*/

// For custom layouts, apply this to the row holding all the columns
// And to the columns within the row
@mixin row-container($padding: spacing(half)) {
  @include clearfix();
  max-width: size(max-width);
  margin: 0 auto;
  box-sizing: border-box;
  padding: $padding;
}

@mixin col-container() {
  @include row-container(0 spacing(half));
}
