$layout-example-height: 200px;


// Config for Synapse using global variables
$synapse: (
  columns: 12,
  layouts: (
        base:  0,
        small:  breakpoint('small'),
        medium:  breakpoint('medium'),
        large: breakpoint('large')
    ),
  spaceUnits: (
    spacing(half),
    spacing(),
    spacing(double),
    spacing(double)
  )
);

/*
// If custom Synapse utilities are needed, use this mixin

@mixin synapse-custom($var) {
  @if ($var == 'margin-auto') {
    margin: 0 auto;
  }
}

*/

// For custom layouts, apply this to the row holding all the columns
// And to the columns within the row
@mixin row-container($padding: spacing(), $flexbox: false) {
  @include clearfix();
  max-width: size(max-width);
  margin: 0 auto;
  box-sizing: border-box;
  padding: $padding;
}

// For any elements in their own row that still need a max width and proper alignment, use this
// Make sure it has twice the padding as the above col mixin
.l-col__single {
  @include row-container(spacing() spacing(double));
}

.h__row-example { background-color: color(mono); }

.h__col-example {
  // height: $layout-example-height;
  position: relative;

  background-color: color(primary, dark);

  &:nth-of-type(even) { background-color: color(secondary, dark); }
}

.h__col-example--box {
  @include size(100%);

  background-color: color(primary, light);

  .h__col-example:nth-of-type(even) & { background-color: color(secondary, light); }

  & > *:first-of-type { margin-top: 0; }
  & > *:last-of-type { margin-bottom: 0; }
}

